# CONFIGURAR gitIgnore GLOBAL → git config --global core.excludesfile "D:\ARQUIVOS\PROJETOS\Chrome_Extension\.gitignore"
# IGNORAR [SIM] → {TUDO} (MANTER NO INICIO!!!)
*

# IGNORAR [NAO]
!/src/
!/src/**

# IGNORAR [NAO]
!*eslint*
!manifest.json
!package.json
!requirements.txt

# IGNORAR [SIM]
*teste*
*_temp*
*.json
*.pac
/src/objects/
/src/scripts/libs/
/src/connections/
/src/chatNew.js
*__pycache__/
*__init__.py

##### FILTRO VS Code #####
# arquivos a serem incluídos
# →   *.js,*.py,*.vbs,*.bat,*.ps1,*.txt,*.json
# arquivos a serem excluídos
# →   **PORTABLE_FreeFileSync/Logs